@import ../_common

header
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 20
    transition: .5s ease
    height: var(--headerheight)
    @include after($black)
    @include media(768)
        height: 100px
    @include media(540)
        height: 80px
    &::after
        bottom: auto
        height: 0
        z-index: -1
        transition: .5s ease
    .header-wrapper
        height: 100%
        display: flex
        padding: 0 var(--containerfluid)
        transition: .5s ease
        --elementcolor: var(--primary)
        --elementhover: var(--primary)
        gap: 1.5rem
        @include media(991)
            align-items: center
            justify-content: space-between
        @include media(540)
            gap: 4.5rem
        .colA,.colB
            height: 100%
        .colA
            a.logo
                padding: var(--headerpadding) 0
                height: 100%
                @include media(540)
                    padding: 10px 0
                img
                    height: 100%
                    @include media(540)
                        width: 145px
        .colB
            flex: 1
            display: flex
            align-items: center
            gap: 47px
            @include media(991)
                justify-content: end
        ul
            text-align: right
            cursor: default
            user-select: none
            li
                display: inline-block
                vertical-align: middle
                line-height: 1
                &.hasDropdown
                    position: relative
                    &:hover
                        >a
                            color: var(--elementhover)
                        .dropdown-menu
                            opacity: 1
                            transform: scale3d(1, 1, 1)
                    .dropdown-menu
                        --triangle: 10px
                        position: absolute
                        top: calc(100% + var(--triangle))
                        left: 50%
                        translate: -50% 0
                        transform: perspective(2000px) translate3d(0px, 0px, 50px) rotateX(-90deg) scale3d(0.86, 0.75, 1) translateY(50px)
                        transform-origin: top
                        transition: .4s ease
                        opacity: 0
                        width: 100%
                        min-width: 185px
                        &::before
                            content: ''
                            display: block
                            position: absolute
                            bottom: calc(100% - (var(--triangle) / 2))
                            left: 50%
                            translate: -50% 0
                            width: var(--triangle)
                            height: var(--triangle)
                            background: #E3E3E3
                            transform: rotate(45deg)
                            z-index: -1
                        ul
                            background: #E3E3E3
                            padding: 16px 12px
                            box-shadow: rgb(0 0 0 / 1%) -2px 6px 2px 3px
                            border-radius: 5px
                            text-align: left
                            white-space: nowrap
                            li
                                display: block
                                &:not(:last-child)
                                    margin-right: 0
                                    margin-bottom: 2px
                                a
                                    font-size: 14px
                                    display: block
                                    color: $black
                                    padding: 10px 14px
                                    border-radius: 5px
                                    overflow: hidden
                                    &:hover
                                        background: $white
                                        color: $black
                                        &::before
                                            opacity: 1
                                    span
                                        display: block
                                        width: 24px
                                        line-height: 0
                // a
                //     &:not(.btn)
                //         color: var(--elementcolor)
                //         border: 1px solid var(--elementcolor)
                //         border-width: 2px
                //         border-radius: 25px
                //         padding: 6px 18px
                //         gap: 10px

                //         @include font(500)
                //         text-transform: capitalize
                //         &:hover
                //             color: var(--black)
                //     .svg
                //         width: 23px
                //         height: 23px
                // .ham-btn
                //     width: 54px
                //     height: 20px
                //     --border: 4px
                //     border-top: var(--border) solid var(--elementcolor)
                //     border-bottom: var(--border) solid var(--elementcolor)
                //     transition: .5s ease
                //     &:hover
                //         border-color: var(--elementhover)
                //     @include media(540)
                //         width: 35px
                .ham-btn
                    flex: 0 1 auto
                    line-height: 0
                    height: 22px
                    width: 42px
                    margin-left: auto
                    flex-direction: column
                    gap: 8px
                    --lineheight: 2px
                    display: flex
                    span
                        display: block
                        height: var(--lineheight)
                        width: inherit
                        background: var(--black)
        .nav-a
            .enq
                width: 137px
                height: 40px
                border-radius: 25px

                border: 2px solid $primary
                padding: 10px 16px
                position: relative
                transition: all ease 0.4s
                overflow: hidden
                &:hover a
                    color: $black
                a
                    border-radius: 25px
                    // padding: 14px 24px
                    font-family: $Circular
                    font-weight: 600
                    font-size: 16px
                    line-height: 16px
                    text-align: center
                    text-decoration: none
                    color: var(--primary)
                    z-index: 9  
                    position: relative



            flex: 1
            @include media(991)
                display: none
            li
                &:not(:last-child)
                    margin-right: 40px
                // a
                //     &:hover
                //         background: var(--primary)
                //         color: var(--black)
                //         transition: 0.5s ease
        .nav-b
            // border-left: 1px solid var(--elementcolor)
            padding-left: 30px
            @include media(991)
                border-left: none
                padding-left: 0
            li
                @include media(540)
                    &:not(:last-child)
                        display: none
                &:not(:last-child)
                    margin-right: 17px
header
    &.header-fixed
        box-shadow: 0 2px 5px 2px #e4c89542
        @include media(991)
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
    &.header-fixed,&.header-fit
        transition: .5s ease
        --headerpadding: 8px
        // --headerpadding: 14px
        height: var(--headerfixed)
        @include media(768)
            height: 50px
        &::after
            height: 100%
    &.header-fit
        transition: 0s
        &::after
            transition: none
        .header-wrapper
            .colA
                .logo
                    transition: none !important
    &.header-shadow
        box-shadow: 0px 2px 8px 0px #63636333

footer
    background: $black
    position: relative
    .upper-sec
        background: #D6AE3A
        padding: 25px 0
        @include media(678)
            padding: 15px 0px
        .container
            display: flex
            justify-content: space-between
            align-items: center
            @include media(768)
                display: block
                text-align: center
            .colA
                p
                    font-family: $Circular
                    font-weight: 400
                    font-size: 24px
                    line-height: 24px
                    color: $black
                    @include media(991)
                        font-size: 20px
                        margin-bottom: 10px
                    a
                        color: $black
            .colB
                display: flex
                justify-content: center
                align-items: center
                gap: 50px
                @include media(991)
                    gap: 30px
                @include media(678)
                    display: block
                .social-icon
                    display: flex
                    gap: 20px
                    @include media(991)
                        gap: 15px
                    @include media(678)
                        justify-content: center
                        margin-bottom: 10px
                .whatsapp
                    width: fit-content
                    gap: 10px
                    padding: 6px 20px
                    background: #FFFFFF
                    display: flex
                    justify-content: center
                    align-items: center
                    gap: 10px
                    color: black
                    border-radius: 2px
                    @include media(678)
                        margin: auto
                        padding: 1px 20px
                    span
                        font-family: $Circular
                        font-weight: 600
                        font-size: 12px
                        line-height: 30px
                        text-transform: uppercase

    .bottom-sec
        @include media(1024)
            max-width: var(--container)
            width: 95%
            margin: 0 auto
        .container
            padding: 50px 0
            p:nth-child(1)
                font-family: $Circular
                font-weight: 450
                font-size: 13px
                line-height: 24px
                text-align: justify
                color: #ffffffb5
                margin-bottom: 30px
                @include media(1024)
                    text-align-last: center
                @include media(768)
                    max-width: 90%
                    margin: auto
                    line-height: 1.5
                    margin-bottom: 15px 
                    text-align-last: center
            p:nth-child(2)
                font-family: $Circular
                font-weight: 400
                font-size: 13px
                line-height: 24px
                color: $white !important
                margin: 30px 0
                @include media(1024)
                    text-align: center
                    margin: 20px 0
                @include media(768)
                    max-width: 90%
                    margin: auto
                    margin-bottom: 15px
                    text-align: center


            .last-sec
                display: flex
                justify-content: space-between
                align-items: center
                @include media(1024)
                    display: block
                    text-align: center
                    margin: auto
                @include media(678)
                    flex-direction: column-reverse
                    margin-bottom: 50px
                .colA
                    display: flex
                    justify-content: start
                    align-items: center
                    @include media(1024)
                        justify-content: center
                    span
                        color: white
                    @include media(678)
                        display: block
                        width: 100%
                        & span
                            display: none
                    p
                        margin: 0
                        color: $white
                        font-family: $Circular
                        max-width: 100%
                        
                    a
                        line-height: 0
                        font-family: $Circular
                        display: flex
                        justify-content: center
                        align-items: center
                        gap: 10px
                        color: white
                        font-size: 13px
                    img
                        width: 57px
                        height: 21px
                .colB
                    @include media(1024)
                        margin-top: 10px
                    @include media(768)
                        margin-bottom: 15px
                        width: 100%
                    ul
                        display: flex
                        justify-content: end
                        gap: 30px
                        @include media(1024)
                            justify-content: center
                            gap: 18px
                        @include media(540)
                            display: block
                            text-align: center
                            
                        li
                            transition: 0.3s ease
                            &:hover a
                                color: #ffffffe0
                            a
                                color: $white
                                font-family: $Circular


.ham-pop
    right: 0
    max-width: 480px
    transform: translateX(100%)
    transition: .5s ease
    background: linear-gradient(360deg,#FFEAC5 29%, #FFEAC5 100%)
    &.is-open
        transform: translateX(0%)
    .close
        path
            stroke: $white
            stroke-width: 2 !important
    .model-body
        padding: 75px 40px 30px
        height: 100%
        overflow-y: auto
        display: flex
        flex-direction: column
        @include scrollbar(6px,$white,#5e5e5e,8px)
        @include media(520)
            padding: 40px 20px

        .logo
            margin-bottom: 50px
        .ico
            max-width: 70px
            margin-bottom: 55px
            line-height: 0
            img,svg
                width: 100%
                height: auto
        .nav-list
            // flex: 1
            >li
                &:not(:last-child)
                    margin-bottom: 22px
                    @include media(1366)
                        margin-bottom: 20px
                >a
                    font-size: 28px
                    line-height: 1.06
                    color: $black
                    display: inline-block
                    transition: 0.5s ease
                    @include font(500)
                    @include media(1366)
                        font-size: 28px
                    @include media(675)
                        font-size: 24px
                    &:hover
                        color: $primary
                        padding-left: 20px
                    
        .bottom-list
            border-top: 1px solid black
            margin-top: 2rem
            padding-top: 1rem
            display: flex
            align-items: center
            gap: 1rem
            .social-icons
                a
                    display: inline-flex
                    vertical-align: middle
                    align-items: center
                    justify-content: center
                    height: 40px
                    width: 40px
                    border-radius: 50%
                    line-height: 0
                    overflow: hidden
                    @include before($gradient-a)
                    color: $white
                    &::before
                        border-radius: 50%
                        transform: scale(1.5)
                        z-index: -1
                        opacity: 0
                        transition: .2s ease
                    &:not(:last-child)
                        margin-right: 4px
                    svg
                        width: 24px
                        height: 24px
                        path
                            transition: none
                            &[stroke],&[fill="none"]
                                stroke: black
                            &[fill]
                                fill: black
                        &:hover
                            path
                                &[fill]
                                    fill: var(--primary)
                                    transition: 0.4s
                    &:hover
                        color: $white
                        // &::before
                        //     transition: .5s ease
                        //     opacity: 1
                        //     transform: scale(1)

.enquire-pop
    right: 0
    transform: translateX(100%)
    transition: .5s ease
    background: linear-gradient(360deg,#FFEAC5 29%, #FFEAC5 100%)
    &.is-open
        transform: translateX(0%)
    .model-body
        padding: 60px 35px 30px
        height: 100%
        overflow-y: auto
        @include scrollbar(3px,$white,#5e5e5e,8px)
        @include media(675)
            padding: 70px 20px 30px
        .title
            text-align: center
            margin-bottom: 2rem
            h4
                font-size: 32px
                color: $black
                font-family: $Florania
                @include font(500)
            p
                color: $black
                margin-top: 10px
                font-size: 14px
                line-height: 20px
                max-width: 317px
                margin-left: auto
                margin-right: auto
                font-family: $Circular
                @include media(675)
                    font-size: 14px
                    max-width: 300px
        .form
            --gaptb: 15px
        .submit-btn
            background: #D6AE3A
            width: 161px
            height: 40px
            gap: 10px
            padding: 5px 10px
            border-radius: 25px
            font-weight: 600
            transition: 0.5s ease-in-out
            margin: auto
            margin-top: 30px
            &:hover
                background: #e1ac0a 

.video-pop
    left: 0
    right: 0
    background: #0000007a
    // background: linear-gradient(360deg, rgba(4, 32, 17, 0) 28.37%, #042011 50.4%)
    z-index: 90
    max-width: 100%
    transform: translateY(100%)
    transition: .5s ease
    &.is-open
        transform: translateY(0%)
    .close-video
        position: absolute
        bottom: calc(100% + 20px)
        top: auto
        right: -40px
        height: 50px
        width: 50px
        border-radius: 50%
        background: $secondary
        display: flex
        align-items: center
        justify-content: center
        transition: .5s ease
        @include media(675)
            right: 0
        &:hover
            background: $primary
        svg
            height: 35%
            width: 35%
        path
            stroke-width: 2
            stroke: $white
    .model-body
        position: absolute
        top: 50%
        left: 50%
        translate: -50% -50%
        width: 100%
        max-width: 50%
        @include media(675)
            max-width: 95%
        iframe
            width: 100%
            aspect-ratio: 1.9
            border: 2px solid $white
            background: $white

.footer-strip
    position: fixed
    bottom: 0
    left: 0
    right: 0
    z-index: 40
    background: var(--bgcolor)
    display: none
    @include media(675)
        display: block
    ul
        @include flex
        li
            flex: 1
            &:not(:last-child)
                border-right: 1px solid rgb(256 256 256 / 10%)
            a
                display: flex
                flex-direction: column
                align-items: center
                padding: 10px
                gap: 5px
                color: $black
                font-size: 14px
                height: var(--footerstrip)
                font-family: $Circular
                svg
                    width: 20px
                    height: 20px
                    &[stroke]
                        stroke: $white
                    &[fill]
                        fill: $black
                    path
                        &[stroke]
                            stroke: $white
                        &[fill]
                            fill: $black


@keyframes zoomIn
  from
    opacity: 0
    transform: scale(0.8)

  to
    opacity: 1
    transform: scale(1)

.zoom-in
  animation: zoomIn 0.8s ease-out forwards
  /* 'forwards' ensures animation keeps its final state
