@font-face {
    font-family: 'Kugile';
    src: url('Kugile.woff2') format('woff2'),
        url('Kugile.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kugile';
    src: url('Kugile.woff2') format('woff2'),
        url('Kugile.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kugile';
    src: url('Kugile.woff2') format('woff2'),
        url('Kugile.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
