@font-face {
    font-family: 'Circular Pro Book';
    src: url('CircularPro-Book.woff2') format('woff2'),
        url('CircularPro-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Florania Trial';
    src: url('FloraniaTrial-Regular.woff2') format('woff2'),
        url('FloraniaTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

