@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.sectionA {
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 0;
}
.sectionA .home-banner {
  height: 100vh;
  background: #E4C995;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .sectionA .home-banner {
    height: 70vh;
  }
}
.sectionA .home-banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  background: linear-gradient(360deg, #E4C995 50%, #FFEAC5 70%);
}
.sectionA .home-banner .gate-wrapper-frame {
  position: relative;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
@media only screen and (max-width: 1024px) {
  .sectionA .home-banner .gate-wrapper-frame {
    width: 70vw;
    top: auto;
    bottom: -23px;
  }
}
@media only screen and (max-width: 991px) {
  .sectionA .home-banner .gate-wrapper-frame {
    width: 80vw;
    height: 70vh;
    bottom: -38px;
  }
}
@media only screen and (max-width: 540px) {
  .sectionA .home-banner .gate-wrapper-frame {
    width: 100vw;
    height: 60vh;
    bottom: -108px;
  }
}
.sectionA .home-banner .gate-wrapper-frame .logo {
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  z-index: 10;
}
@media only screen and (max-width: 540px) {
  .sectionA .home-banner .gate-wrapper-frame .logo {
    width: 30px;
  }
}
.sectionA .home-banner .gate-wrapper-frame .main-gate {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.sectionA .home-banner .gate-wrapper-frame .doors {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.sectionA .home-banner .gate-wrapper-frame .doors .door {
  position: absolute;
  top: 31vh;
  width: 22.2%;
  height: 54%;
  transition: transform 1.5s ease-in-out;
  transform-origin: center;
}
@media only screen and (max-width: 991px) {
  .sectionA .home-banner .gate-wrapper-frame .doors .door {
    top: 22vh;
  }
}
@media only screen and (max-width: 540px) {
  .sectionA .home-banner .gate-wrapper-frame .doors .door {
    top: 19vh;
  }
}
.sectionA .home-banner .gate-wrapper-frame .doors .left-door {
  left: 28.4%;
  transform: scaleX(-1);
}
.sectionA .home-banner .gate-wrapper-frame .doors .right-door {
  right: 27.9%;
  transform: scaleX(1);
}
.sectionA .home-banner .gate-wrapper-frame.open .left-door {
  transform: scaleX(-1) translateX(100%);
}
.sectionA .home-banner .gate-wrapper-frame.open .right-door {
  transform: translateX(98%);
}
.sectionA .home-banner .gate-wrapper-frame .gate-video {
  position: absolute;
  top: 31%;
  left: 25.5%;
  width: 50%;
  height: 54%;
  z-index: -1;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  filter: grayscale(100%);
}
.sectionA .home-banner .gate-wrapper-frame .gate-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
.sectionA .home-banner .gate-wrapper-frame .gate-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  filter: grayscale(100%);
}
.sectionA .home-banner .gate-wrapper-frame .message {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, 125%);
  opacity: 0;
  width: 100%;
  max-width: 250px;
  z-index: -1;
  transition: transform 4s ease, opacity 1s ease;
}
@media only screen and (max-width: 540px) {
  .sectionA .home-banner .gate-wrapper-frame .message {
    width: 135px;
  }
}
.sectionA .home-banner .gate-wrapper-frame.open .message {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.sectionA .home-banner .gate-wrapper-frame.open .message p {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: white;
  transition: transform 1.5s ease-in-out;
}
@media only screen and (max-width: 540px) {
  .sectionA .home-banner .gate-wrapper-frame.open .message p {
    font-size: 13px;
  }
}
.sectionA .home-banner .gate-wrapper-frame .open-btn {
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateX(-50%);
  display: none;
}
.sectionA .home-banner .bottom-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.sectionA .home-banner .bottom-line img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-secB {
  height: 99vh;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .home-secB {
    height: 70vh;
  }
}
.home-secB .video-bg {
  line-height: 0;
  position: relative;
}
.home-secB .video-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 249, 232, 0.8588235294);
}
.home-secB .video-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 1024px) {
  .home-secB .video-bg {
    height: 100%;
  }
}
.home-secB .content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 500px;
}
@media only screen and (max-width: 540px) {
  .home-secB .content-wrapper {
    width: 100%;
    max-width: 90%;
  }
}
.home-secB .content-wrapper h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  margin: 10px 0 20px 0px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
}
@media only screen and (max-width: 540px) {
  .home-secB .content-wrapper h2 {
    font-size: 25px;
  }
}
.home-secB .content-wrapper p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
@media only screen and (max-width: 540px) {
  .home-secB .content-wrapper p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
  }
}

.home-secC {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("../../images/home/Banners/banner-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 991px) {
  .home-secC {
    height: 70vh;
  }
}
@media only screen and (max-width: 540px) {
  .home-secC {
    height: 55vh;
  }
}
.home-secC .flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  max-width: 80%;
  margin: auto;
}
@media only screen and (max-width: 991px) {
  .home-secC .flex-box {
    justify-content: center;
    height: 70vh;
  }
}
@media only screen and (max-width: 540px) {
  .home-secC .flex-box {
    height: 55vh;
  }
}
.home-secC .flex-box .flex-item:first-child {
  width: 477px;
  height: 469px;
  background-image: url("../../images/chakra.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 540px) {
  .home-secC .flex-box .flex-item:first-child {
    height: 290px;
  }
}
.home-secC .flex-box .flex-item:last-child {
  visibility: hidden;
}
.home-secC .flex-box .content {
  max-width: 60%;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .home-secC .flex-box .content {
    max-width: 100%;
  }
}
.home-secC .flex-box .content h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (max-width: 540px) {
  .home-secC .flex-box .content h2 {
    font-size: 25px;
  }
}
.home-secC .flex-box .content p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  line-height: 1.4;
}
@media only screen and (max-width: 540px) {
  .home-secC .flex-box .content p {
    font-size: 14px;
  }
}
.home-secC .hand-img {
  width: 100%;
}
.home-secC .hand-img img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
@media only screen and (max-width: 991px) {
  .home-secC .hand-img img {
    top: 80%;
    width: 30%;
  }
}

.home-secD {
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .home-secD {
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .home-secD .banner {
    height: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .home-secD .banner {
    height: auto;
  }
  .home-secD .banner::before {
    background: none;
  }
}
@media only screen and (max-width: 991px) {
  .home-secD .banner:not(.banner-banner)::before {
    background: none;
  }
}
.home-secD figure {
  position: relative;
  overflow: hidden;
  line-height: 0;
  height: 100vh !important;
}
@media only screen and (max-width: 991px) {
  .home-secD figure {
    height: auto !important;
  }
}
.home-secD figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 246, 218, 0.57) 53.85%, rgba(255, 232, 167, 0.95) 100%);
}
@media only screen and (max-width: 991px) {
  .home-secD figure::before {
    background: none;
  }
}
.home-secD .figcaption {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: right;
}
@media only screen and (max-width: 991px) {
  .home-secD .figcaption {
    position: static;
    transform: none;
    width: 100%;
    justify-content: center;
    padding: 60px 0;
  }
}
.home-secD .figcaption .content {
  max-width: 355px;
  text-align: center;
}
.home-secD .figcaption .content h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  max-width: 80%;
  margin: auto;
  line-height: 100%;
  margin-bottom: 10px;
}
@media only screen and (max-width: 540px) {
  .home-secD .figcaption .content h2 {
    font-size: 25px;
  }
}
.home-secD .figcaption .content p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
@media only screen and (max-width: 540px) {
  .home-secD .figcaption .content p {
    font-size: 14px;
    line-height: 1.5;
  }
}

.home-secEE {
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .home-secEE {
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .home-secEE .banner {
    height: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .home-secEE .banner {
    height: auto;
  }
  .home-secEE .banner::before {
    background: none;
  }
}
@media only screen and (max-width: 991px) {
  .home-secEE .banner:not(.banner-banner)::before {
    background: none;
  }
}
.home-secEE figure {
  position: relative;
  overflow: hidden;
  line-height: 0;
  height: 100vh !important;
}
@media only screen and (max-width: 991px) {
  .home-secEE figure {
    height: auto !important;
  }
}
.home-secEE figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 246, 218, 0.57) 53.85%, rgba(255, 232, 167, 0.95) 100%);
}
@media only screen and (max-width: 991px) {
  .home-secEE figure::before {
    background: none;
  }
}
.home-secEE .figcaption {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: left;
}
@media only screen and (max-width: 991px) {
  .home-secEE .figcaption {
    position: static;
    transform: none;
    width: 100%;
    justify-content: center;
    padding: 60px 0;
  }
}
.home-secEE .figcaption .bg-img {
  text-align: center;
  width: 477px;
  height: 469px;
  display: flex;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 540px) {
  .home-secEE .figcaption .bg-img {
    height: 320px;
  }
}
.home-secEE .figcaption .bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/chakra.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-secEE .figcaption .bg-img h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  max-width: 100%;
  margin: auto;
  line-height: 100%;
  margin-bottom: 10px;
}
@media only screen and (max-width: 540px) {
  .home-secEE .figcaption .bg-img h2 {
    font-size: 25px;
  }
}
.home-secEE .figcaption .bg-img p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
@media only screen and (max-width: 540px) {
  .home-secEE .figcaption .bg-img p {
    font-size: 14px;
    line-height: 1.5;
  }
}

.home-secE {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("../../images/home/Banners/banner-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 991px) {
  .home-secE {
    height: auto;
  }
}
.home-secE .flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  max-width: 80%;
  margin: auto;
}
@media only screen and (max-width: 991px) {
  .home-secE .flex-box {
    justify-content: center;
    height: 70vh;
  }
}
.home-secE .flex-box .flex-item:first-child {
  width: 477px;
  height: 469px;
  background-image: url("../../images/chakra.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.home-secE .flex-box .flex-item:last-child {
  visibility: hidden;
}
.home-secE .flex-box .content {
  max-width: 80%;
  margin: auto;
}
.home-secE .flex-box .content h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (max-width: 540px) {
  .home-secE .flex-box .content h2 {
    font-size: 25px;
  }
}
.home-secE .flex-box .content p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  line-height: 1.4;
}
@media only screen and (max-width: 540px) {
  .home-secE .flex-box .content p {
    font-size: 16px;
  }
}

.home-secF {
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .home-secF {
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .home-secF .banner {
    height: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .home-secF .banner {
    height: auto;
  }
  .home-secF .banner::before {
    background: none;
  }
}
@media only screen and (max-width: 991px) {
  .home-secF .banner:not(.banner-banner)::before {
    background: none;
  }
}
.home-secF figure {
  position: relative;
  overflow: hidden;
  line-height: 0;
  height: 100vh !important;
}
@media only screen and (max-width: 991px) {
  .home-secF figure {
    height: auto !important;
  }
}
.home-secF figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3019607843);
}
@media only screen and (max-width: 991px) {
  .home-secF figure::before {
    background: none;
  }
}
.home-secF .figcaption {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .home-secF .figcaption {
    position: static;
    transform: none;
    width: 100%;
    justify-content: center;
    padding: 60px 0;
    display: block;
  }
}
.home-secF .figcaption .content {
  max-width: 355px;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .home-secF .figcaption .content {
    margin: auto;
    margin-bottom: 10px;
  }
}
.home-secF .figcaption .content h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--white);
}
@media only screen and (max-width: 991px) {
  .home-secF .figcaption .content h2 {
    color: var(--black);
  }
}
@media only screen and (max-width: 540px) {
  .home-secF .figcaption .content h2 {
    font-size: 25px;
  }
}
.home-secF .figcaption .content p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  color: white;
  max-width: 355px;
}
@media only screen and (max-width: 991px) {
  .home-secF .figcaption .content p {
    color: var(--black);
  }
}
@media only screen and (max-width: 540px) {
  .home-secF .figcaption .content p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--text);
  }
}

.home-secG {
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .home-secG {
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .home-secG .banner {
    height: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .home-secG .banner {
    height: auto;
  }
  .home-secG .banner::before {
    background: none;
  }
}
@media only screen and (max-width: 991px) {
  .home-secG .banner:not(.banner-banner)::before {
    background: none;
  }
}
.home-secG figure {
  position: relative;
  overflow: hidden;
  line-height: 0;
  height: 100vh !important;
}
@media only screen and (max-width: 991px) {
  .home-secG figure {
    height: auto !important;
  }
}
.home-secG figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 246, 218, 0) 53.85%, rgba(255, 232, 167, 0.95) 100%);
}
@media only screen and (max-width: 991px) {
  .home-secG figure::before {
    background: none;
  }
}
.home-secG .figcaption {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: right;
}
@media only screen and (max-width: 991px) {
  .home-secG .figcaption {
    position: static;
    transform: none;
    width: 100%;
    justify-content: center;
    padding: 60px 0;
  }
}
.home-secG .figcaption .content {
  max-width: 390px;
  text-align: center;
}
.home-secG .figcaption .content h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  max-width: 80%;
  margin: auto;
  margin-bottom: 20px;
  color: var(--white);
}
@media only screen and (max-width: 991px) {
  .home-secG .figcaption .content h2 {
    color: var(--black);
  }
}
@media only screen and (max-width: 540px) {
  .home-secG .figcaption .content h2 {
    font-size: 25px;
  }
}
.home-secG .figcaption .content p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .home-secG .figcaption .content p {
    color: var(--black);
  }
}
@media only screen and (max-width: 540px) {
  .home-secG .figcaption .content p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--text);
  }
}

.home-secH {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("../../images/home/Banners/banner-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 991px) {
  .home-secH {
    height: 70vh;
  }
}
@media only screen and (max-width: 540px) {
  .home-secH {
    height: 55vh;
  }
}
.home-secH .flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  max-width: 80%;
  margin: auto;
}
@media only screen and (max-width: 991px) {
  .home-secH .flex-box {
    height: 70vh;
    justify-content: center;
  }
}
@media only screen and (max-width: 540px) {
  .home-secH .flex-box {
    height: 55vh;
  }
}
.home-secH .flex-box .flex-item:first-child {
  width: 477px;
  height: 469px;
  background-image: url("../../images/chakra.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 540px) {
  .home-secH .flex-box .flex-item:first-child {
    height: 300px;
  }
}
.home-secH .flex-box .flex-item:last-child {
  visibility: hidden;
}
.home-secH .flex-box .content {
  max-width: 60%;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .home-secH .flex-box .content {
    max-width: 100%;
  }
}
.home-secH .flex-box .content h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (max-width: 540px) {
  .home-secH .flex-box .content h2 {
    font-size: 25px;
  }
}
.home-secH .flex-box .content p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  line-height: 1.4;
}
@media only screen and (max-width: 540px) {
  .home-secH .flex-box .content p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--text);
  }
}
.home-secH .qutub-minar {
  width: 100%;
}
@media only screen and (max-width: 540px) {
  .home-secH .qutub-minar {
    display: none;
  }
}
.home-secH .qutub-minar img {
  position: absolute;
  right: 10%;
  bottom: 0;
  width: 30%;
}
@media only screen and (max-width: 991px) {
  .home-secH .qutub-minar img {
    right: 0;
    width: 35%;
  }
}

.home-secI {
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .home-secI {
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .home-secI .banner {
    height: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .home-secI .banner {
    height: auto;
  }
  .home-secI .banner::before {
    background: none;
  }
}
@media only screen and (max-width: 991px) {
  .home-secI .banner:not(.banner-banner)::before {
    background: none;
  }
}
.home-secI figure {
  position: relative;
  overflow: hidden;
  line-height: 0;
  height: 100vh !important;
}
@media only screen and (max-width: 991px) {
  .home-secI figure {
    height: auto !important;
  }
}
.home-secI figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 246, 218, 0) 37.98%, rgba(255, 255, 255, 0.95) 78.05%);
}
@media only screen and (max-width: 991px) {
  .home-secI figure::before {
    background: none;
  }
}
.home-secI .figcaption {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: right;
}
@media only screen and (max-width: 991px) {
  .home-secI .figcaption {
    position: static;
    transform: none;
    width: 100%;
    justify-content: center;
    padding: 60px 0;
  }
}
.home-secI .figcaption .content {
  max-width: 390px;
  text-align: center;
}
.home-secI .figcaption .content h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 540px) {
  .home-secI .figcaption .content h2 {
    font-size: 25px;
  }
}
.home-secI .figcaption .content p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
@media only screen and (max-width: 540px) {
  .home-secI .figcaption .content p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--text);
  }
}

.home-secJ {
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .home-secJ {
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .home-secJ .banner {
    height: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .home-secJ .banner {
    height: auto;
  }
  .home-secJ .banner::before {
    background: none;
  }
}
@media only screen and (max-width: 991px) {
  .home-secJ .banner:not(.banner-banner)::before {
    background: none;
  }
}
.home-secJ figure {
  position: relative;
  overflow: hidden;
  line-height: 0;
  height: 100vh;
}
@media only screen and (max-width: 991px) {
  .home-secJ figure {
    height: auto;
  }
}
.home-secJ figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.95) 21.95%, rgba(255, 246, 218, 0) 62.02%);
}
@media only screen and (max-width: 991px) {
  .home-secJ figure::before {
    background: none;
  }
}
.home-secJ .figcaption {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .home-secJ .figcaption {
    position: static;
    transform: none;
    width: 100%;
    justify-content: center;
    padding: 60px 0;
  }
}
.home-secJ .figcaption .content {
  max-width: 355px;
  text-align: center;
}
.home-secJ .figcaption .content h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--black);
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .home-secJ .figcaption .content h2 {
    font-family: Florania Trial;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secJ .figcaption .content h2 {
    font-size: 25px;
  }
}
.home-secJ .figcaption .content p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  max-width: 355px;
}
@media only screen and (max-width: 991px) {
  .home-secJ .figcaption .content p {
    font-size: 16px;
    color: var(--text);
  }
}
@media only screen and (max-width: 540px) {
  .home-secJ .figcaption .content p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--text);
  }
}

.home-secK {
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .home-secK {
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .home-secK .banner {
    height: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .home-secK .banner {
    height: auto;
  }
  .home-secK .banner::before {
    background: none;
  }
}
@media only screen and (max-width: 991px) {
  .home-secK .banner:not(.banner-banner)::before {
    background: none;
  }
}
.home-secK figure {
  position: relative;
  overflow: hidden;
  line-height: 0;
  height: 100vh !important;
}
@media only screen and (max-width: 991px) {
  .home-secK figure {
    height: auto !important;
  }
}
.home-secK figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 246, 218, 0) 37.98%, rgba(255, 255, 255, 0.95) 78.05%);
}
@media only screen and (max-width: 991px) {
  .home-secK figure::before {
    background: none;
  }
}
.home-secK .figcaption {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: right;
}
@media only screen and (max-width: 991px) {
  .home-secK .figcaption {
    position: static;
    transform: none;
    width: 100%;
    justify-content: center;
    padding: 60px 0;
  }
}
.home-secK .figcaption .content {
  max-width: 390px;
  text-align: center;
}
.home-secK .figcaption .content h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 540px) {
  .home-secK .figcaption .content h2 {
    font-size: 25px;
  }
}
.home-secK .figcaption .content p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
@media only screen and (max-width: 540px) {
  .home-secK .figcaption .content p {
    font-size: 14px;
  }
}

.home-secL {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("../../images/home/Banners/banner-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 991px) {
  .home-secL {
    height: 70vh;
  }
}
@media only screen and (max-width: 540px) {
  .home-secL {
    height: 55vh;
  }
}
.home-secL .flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 80%;
  margin: auto;
}
@media only screen and (max-width: 991px) {
  .home-secL .flex-box {
    height: 70vh;
  }
}
@media only screen and (max-width: 540px) {
  .home-secL .flex-box {
    height: 55vh;
  }
}
.home-secL .flex-box .flex-item:first-child {
  width: 477px;
  height: 469px;
  background-image: url("../../images/chakra.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 540px) {
  .home-secL .flex-box .flex-item:first-child {
    height: 300px;
  }
}
.home-secL .flex-box .flex-item:last-child {
  visibility: hidden;
}
.home-secL .flex-box .content {
  max-width: 100%;
  margin: auto;
}
.home-secL .flex-box .content h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (max-width: 540px) {
  .home-secL .flex-box .content h2 {
    font-size: 25px;
  }
}
.home-secL .flex-box .content p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  line-height: 1.4;
}
@media only screen and (max-width: 540px) {
  .home-secL .flex-box .content p {
    font-size: 14px;
  }
}

.home-secM {
  position: relative;
}
.home-secM .figure {
  width: 100%;
  height: 100%;
  line-height: 0;
}
.home-secM .figure video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  line-height: 0;
}
.home-secM .figure-img {
  color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.home-secM .figure-img img {
  width: 100%;
  height: 100%;
}

.home-secN {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("../../images/home/Banners/banner-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 991px) {
  .home-secN {
    height: 70vh;
  }
}
@media only screen and (max-width: 540px) {
  .home-secN {
    height: 55vh;
  }
}
.home-secN .flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 80%;
  margin: auto;
}
@media only screen and (max-width: 991px) {
  .home-secN .flex-box {
    max-width: 90%;
    height: 70vh;
  }
}
@media only screen and (max-width: 540px) {
  .home-secN .flex-box {
    height: 55vh;
  }
}
.home-secN .flex-box .flex-item:first-child {
  width: 477px;
  height: 469px;
  background-image: url("../../images/chakra.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 540px) {
  .home-secN .flex-box .flex-item:first-child {
    height: 300px;
  }
}
.home-secN .flex-box .flex-item:last-child {
  visibility: hidden;
}
.home-secN .flex-box .content {
  max-width: 100%;
  margin: auto;
}
.home-secN .flex-box .content h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (max-width: 540px) {
  .home-secN .flex-box .content h2 {
    font-size: 25px;
  }
}
.home-secN .flex-box .content p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  line-height: 1.4;
}
@media only screen and (max-width: 540px) {
  .home-secN .flex-box .content p {
    font-size: 14px;
  }
}

.home-secO {
  position: relative;
}
.home-secO .figure {
  width: 100%;
  height: 100%;
  line-height: 0;
}
.home-secO .figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-secP {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("../../images/home/Banners/banner-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-secP .form-sec {
  max-width: 50%;
  padding: 60px 0;
  margin: auto;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .home-secP .form-sec {
    max-width: 80%;
  }
}
@media only screen and (max-width: 540px) {
  .home-secP .form-sec {
    max-width: 90%;
  }
}
.home-secP .form-sec h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  max-width: 60%;
  line-height: 1.1;
  margin: 20px auto;
}
@media only screen and (max-width: 991px) {
  .home-secP .form-sec h2 {
    max-width: 70%;
  }
}
@media only screen and (max-width: 540px) {
  .home-secP .form-sec h2 {
    max-width: 100%;
    font-size: 25px;
  }
}
.home-secP .form-sec form {
  padding: 50px 0;
}
@media only screen and (max-width: 540px) {
  .home-secP .form-sec form {
    padding: 20px 0;
  }
}
.home-secP .form-sec form .form-grid {
  --item: 2;
}
@media only screen and (max-width: 540px) {
  .home-secP .form-sec form .form-grid {
    --item: 1;
  }
}
.home-secP .form-sec form .submit-btn {
  background: #D6AE3A;
  width: 161px;
  height: 40px;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 25px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.home-secP .form-sec form .submit-btn:hover {
  border: 1px solid black;
  background: white;
}

.home-secQ {
  background: var(--white);
  position: relative;
  overflow: hidden;
}
.home-secQ .container {
  padding: 100px 0;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .home-secQ .container {
    padding: 80px 0;
  }
}
@media only screen and (max-width: 540px) {
  .home-secQ .container {
    padding: 0 0 50px 0;
  }
}
.home-secQ .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
@media only screen and (max-width: 1024px) {
  .home-secQ .flex-box {
    max-width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 991px) {
  .home-secQ .flex-box {
    display: block;
  }
}
@media only screen and (max-width: 540px) {
  .home-secQ .flex-box {
    max-width: 100%;
    display: block;
  }
}
.home-secQ .flex-box .flex-box-item {
  width: 50%;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .home-secQ .flex-box .flex-box-item {
    margin: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .home-secQ .flex-box .flex-box-item {
    width: 100%;
    max-width: 90%;
    margin: auto;
  }
}
.home-secQ .flex-box .flex-box-item:first-child {
  border-radius: 10px;
}
@media only screen and (max-width: 1024px) {
  .home-secQ .flex-box .flex-box-item:first-child iframe {
    height: 350px;
  }
}
@media only screen and (max-width: 991px) {
  .home-secQ .flex-box .flex-box-item:first-child {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secQ .flex-box .flex-box-item:first-child {
    margin-bottom: 30px;
  }
}
.home-secQ .flex-box .flex-box-item:last-child h2 {
  font-family: Florania Trial;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media only screen and (max-width: 540px) {
  .home-secQ .flex-box .flex-box-item:last-child h2 {
    max-width: 100%;
    font-size: 30px;
  }
}
.home-secQ .flex-box .flex-box-item:last-child p {
  font-weight: 450;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}
.home-secQ .flex-box .flex-box-item:last-child a {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 1px;
  padding: 5px 16px;
  margin: auto;
  margin-top: 30px;
  font-family: "Circular Pro Book";
}
.home-secQ .flex-box .flex-box-item:last-child a img {
  width: 16px;
}
.home-secQ .flex-box .flex-box-item:last-child a p {
  font-family: "Circular Pro Book";
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.sticky {
  position: sticky;
  top: 20px;
}
@media only screen and (max-width: 991px) {
  .sticky {
    position: static;
  }
}

.fake-section {
  height: 100vh;
  position: relative;
  z-index: 1;
  background: gray;
}/*# sourceMappingURL=home.css.map */